doctype html
html
  head
  include ./head.pug

  body
    header.o-header-services(data-o-component='o-header')
    .o-header-services__top.o-header-services__container
      .o-header-services__ftlogo
      .o-header-services__related-content
        hr
        a.o-header-services__related-content-link(href='https://www.ft.com/?edition=uk') Home
        a.o-header-services__related-content-link(href='/ratings') Our Ratings
        a.o-header-services__related-content-link(href='/') Rate us
        hr
