html
  include ./head.pug

  header
  include ./header.pug

  body
    h1 Welcome to our website rater
    h1 Please enter your rating
    h2 5 is very good, 0 is terrible
    form.o-forms(action='/ratings/new', method='POST')
      .o-forms
      label.o-forms__label(for='o-forms-standard') Your Name:
      input#o-forms-standard.o-forms__text(type='text', name='username',required='')
      |
      .o-forms
      label.o-forms__label(for='select-standard') Your Rating:
      select#select-standard.o-forms__select(type='text', name='rating', required='')
        option(value=5, selected='') 5
        option(value=4) 4
        option(value=3) 3
        option(value=2) 2
        option(value=1) 1
        option(value=0) 0
      .o-forms
      button(class="o-buttons o-buttons--secondary" type='submit') Submit
