html
  include ./head.pug

  header
  include ./header.pug

  body
    h1 Welcome to our website rater
    h1 Please enter your rating
    form.o-forms(action='/ratings/new', method='POST')
      .o-forms
      label.o-forms__label(for='o-forms-standard') Your Name:
      input#o-forms-standard.o-forms__text(type='text', name='username',required='')
      |
      .o-forms
      label.o-forms__label(for='select-standard') Your Rating:
      select#select-standard.o-forms__select(type='text', name='rating')
        option(value=5, selected='') Very Good
        option(value=4) Good
        option(value=3) OK
        option(value=2) Poor
        option(value=1) Very Poor
      .o-forms
      button(class="o-buttons o-buttons--secondary" type='submit') Submit
