body {
  font-family: MetricWeb,sans-serif;
  background-color: #FFF1E5;
  border: 0;
  margin: 16px auto;
  display: block;
  text-align: center;
}

.o-header-services__ftlogo {
    background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo:brand-ft-masthead?source=o-header&tint=%2333302E,%2333302E&format=svg);
    width: 50%;
    height: 100px;
    margin: 16px auto;
    background-size: 100% 100%;
}
form {
  margin-left: 35%;
  margin-right: 35%;
  font-size: 25px;
  padding: 9px 9px 9px;
}

.o-buttons{
  width: 100%;
}

ul {
  list-style-type: none;
}
li {
    font-size: 25px;
    font-style: italic;
}
.o-header-services__related-content-link{
    font-weight: 600;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    padding: 50px;
    color: black;
}

.o-forms__select, .o-forms__text, .o-forms__textarea {
    background-color: #fff;
    color: #33302e;
    border-color: #b3a9a0;
    font-size: 25px;
    margin-top: 12px;
    width: 100%;
    padding: 9px 9px 9px;
    border: 1px solid #b3a9a0;
}
